/.idea
/venv
/vacancies.csv
/v_full.csv
/__pycache__
/elearn_2_1_1.py
/elearn_2_1_2.py
/graph.png
/report.pdf
/report.xlsx
/chunks
/test.py
/vacancies_dif_currencies.csv
/chunks2
/date_dinamics.csv
/updated_vacancies.csv